

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../assets/css/styles.min.css">

  <title>Preview</title>

  <style>
    .cards {
      display: flex;
    }

    .cards img {
      max-width: 100%;
    }
  </style>
</head>

<body>

  <footer role="contentinfo">
    <hr>
    <p>Handcrafted by <a rel="me" href="http://about.me/pekkos">Jonas Päckos</a>, &copy; 2016-2018.
      <a href="http://github.com/pekkos/pekkos.github.io">View source</a>.</p>
    <p>Talk to me on <a rel="me" href="https://twitter.com/pekkos">twitter</a> or <a rel="me" href="https://github.com/pekkos">GitHub</a></p>
</footer>


</body>

</html>

