

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../assets/css/styles.min.css">

  <title>Preview</title>

  <style>
    .cards {
      display: flex;
    }

    .cards img {
      max-width: 100%;
    }
  </style>
</head>

<body>

  If you liked this post, you can
<a href="https://twitter.com/intent/tweet?url=siteurl/pageurl&text=pagetitle&via=pekkos" target="_blank">
  share it with your followers</a>
or
<a href="https://twitter.com/pekkos">
  follow me on Twitter</a>!


</body>

</html>

